.card {
  border-radius: 9px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 10px solid #3b82f6;
  transition: transform 300ms;
  text-align: left;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);

  background-color: #ecf3f883;

  h3 {
    color: #3b82f6;
  }
}
.card a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #3b82f6;
}
.category {
  font-size: 0.7rem;
  font-weight: 600;
  color: #ffff;
  margin-bottom: 15px;
  text-align: center;
  padding: 6px 25px;
  border-radius: 11px;
  display: inline-block;
  background-color: #3d6ed9cc;
}
.card h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #222;
}
.card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  letter-spacing: 0.25;
  margin-bottom: 15px;
}
.author {
  display: flex;
  font-size: 0.9rem;
  color: #555;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}
.author div {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .card {
    padding: 15px 20px;
  }
  .card h3 {
    font-size: 1rem;
  }
  .card p {
    font-size: 0.9rem;
  }
  .author {
    font-size: 0.8rem;
    gap: 10px;
    margin-bottom: 15px;
  }
}
